* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  color: #fff;
}

body {
  background-color: #001;
  display: flex;
}

:root {
  --menu-bc: #123;
  --menu-item-bc: #ffffff55;
  --white-bc: #fff;
  --blue-bc: #0281fe;
}

.menu {
  width: 100px;
  background-color: wheat;
  height: 100vh;
  background-color: var(--menu-bc);
  padding: 20px;
  overflow: hidden;
  transition: all 0.5s ease;
  position: relative;
}

.menu:hover {
  width: 260px;
}

.menu ul {
  list-style: none;
}

.menu ul li a {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 10px;
  text-decoration: none;
  margin: 5px;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.menu ul li a:hover,
.active {
  background-color: var(--menu-item-bc);
  align-items: center;
}

.menu .profile h3 {
  text-transform: capitalize;
  letter-spacing: 1.2px;
}

.menu ul li a i {
  font-size: 35px;
}

.log-out {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  padding: 20px;
}

.menu ul .log-out a {
  background-color: #a00;
}

.menu .profile {
  display: flex;
  gap: 30px;
  align-items: center;
  margin: 10px 0px 20px 10px;
}

.menu .profile .profile-img {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid grey;
  flex-shrink: 0;
}

.menu .profile img {
  width: 50px;
  height: 50px;
}

/* contents */
.contents {
  width: 100vw;
  margin: 10px;
}

.contents .title-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blue-bc);
  padding: 10px;
  border-radius: 8px;
}

.contents .data-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0px 10px 0px;
}

.contents .data-info .box {
  height: 200px;
  flex-basis: 200px;
  background-color: var(--menu-bc);
  flex-grow: 1;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  transition: 0.5s;
}

.contents .data-info .box:hover {
  background-color: var(--menu-item-bc);
}

table {
  width: 100%;
  text-align: center;
  border-spacing: 10px;
  margin-top: 10px;
}

table th,
td {
  background-color: var(--menu-bc);
  height: 40px;
  border-radius: 8px;
  transition: 0.5s;
  padding: 5px;
}

table th {
  background-color: var(--blue-bc);
}

table :first-child {
  text-transform: capitalize;
}

table td:hover {
  background-color: var(--menu-item-bc);
}

table .price,
table .count {
  padding: 10px;
  border-radius: 8px;
}

table .price {
  background-color: green;
}

table .count {
  background-color: gold;
}
